body {
    background: #181818;
    text-align: center;
    position: relative;
}

#boiteHtml{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container {
    white-space: nowrap;
    overflow-x: hidden;
    height: 130%;
    width: 100%;
    margin: auto;
}
.inner {
    transition: transform 0.3s ease;
}
.card {
    font-family: sans-serif;
    line-height: 12em;
    width: 316px;
    height: 474px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.4);
    display: inline-block;
    margin: 0 0.05em;
    position: relative;
    bottom: -1.2em;
    overflow:hidden;
    transition: transform 0.3s ease, background 0.2s ease, box-shadow 0.2s ease;
}

.card img{
    width: 316px;
}

.card[data-scale="0"],
.card[data-scale="4"] {
    transform: scale(1);
    z-index: 0;
}
.card[data-scale="1"],
.card[data-scale="3"] {
    transform: scale(1.1);
    z-index: 1;
}
.card[data-scale="2"] {
    transform: scale(1.2);
    z-index: 2;
}

.btn {
    cursor: pointer;
    padding: 0 2em;
    line-height: 100vh;
    transition: background 0.3s ease;
}

.next {
     right: 0;
 }
.prev {
     left: 0;
 }


.first{
    display: none;
}

#btnMobile{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 350px;
}

.desk{
    display: flex;
}

#boiteCritique{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bordure{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: black 1px 1px 10px;
    background: white;
    padding: 20px;
    margin: 20px;
}

.etiquette{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

@media (max-width: 980px) {
    #btnMobile{
        display: flex;
    }

    .desk{
        display:none;
    }

    #btnMobile{
        position: relative;
        top: -140px;
    }

    #boiteCritique{
        display: flex;
    }
}
